#bannerTop{
    font-size: 25px;
    font-weight: 800;
    color: rgb(7, 112, 86);
    font-family: Courier New, monospace;
}
body{
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    background-image: url("./one.jpg");

}
#myMainNavigation{
    margin-top: 25px;
}