#bannerTop{
    font-size: 25px;
    font-weight: 800;
    color: rgb(206, 213, 218);
    font-family: Courier New, monospace;
}
body {
    
    margin: auto;
    padding: auto;
    height:100%;
    
    
    
    
}
.nav-link{
    color:#ccc;
}

.myMainNavigation{
    margin: 25px;
    border-radius: 25px;
    border: 2px solid #0a0f04;
    border: 1px #ccc solid;
    
    
}
nav{
    border-radius: 25px;
    border: 2px solid #040701;
    background-color: rgb(36, 37, 36);
    color:#ccc;
}